@model ApplicationRoleViewModel
@using Blog.ViewModels


<form asp-controller="ApplicationRole" asp-action="AddEditApplicationRole" role="form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">"Add/Edit Application Role"</h4>
        </div>
        <div class="modal-body form-horizontal">
            <div class="row">
                <div class="form-group">
                    <label asp-for="RoleName" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="RoleName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Description" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" id="@Model.CancelButtonID" class="btn btn-default" type="button">@Model.CancelButtonText</button>
            <button class="btn btn-success" id="@Model.SubmitButtonID" type="submit">@Model.SubmitButtonText</button>
        </div>
</form>