@model IEnumerable<Post>

@{ 

}
<div class="widthcontrol">
    <div id="body-title">
        <h2>CSCM48 Posts</h2>
    </div>
    <div class="mainpage-links">
        @foreach (var post in Model)
            {
                <div>
                    <a class="mainpage-bloglinks" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </div>
            }
    </div>
</div>