@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Blog.Models
@using Blog.ViewModels

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
</head>
<body>
    <div id="site-container">
        <div id='header'>
            <div id='header-nav-container'>
                <div id='header-nav'>
                    <a class='header-nav-link header-nav-home' asp-controller="Home" asp-action="Index">Home</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminInterface")).Succeeded)
                    {
                        <span>||</span>
                        <a class='header-nav-link header-nav-create' asp-controller="Panel" asp-action="Edit">Create&nbsp;Post</a>
                        <span>||</span>
                        <a class='header-nav-link header-nav-admin' asp-controller="Admin" asp-action="Index">Admin&nbsp;Panel</a>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span>||</span> <a class='header-nav-link header-nav-logout' asp-controller="Auth" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <span>||</span> <a class='header-nav-link header-nav-login' asp-controller="Auth" asp-action="Login">Sign&nbsp;In</a>
                    }

                </div>
            </div>
        </div>
        <div id='body'>
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/jquery-3.3.1.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
