@model IEnumerable<UserListViewModel>
@using Blog.Models
@using Blog.Configuration

<div class="widthcontrol">
    <div class="top-buffer"></div>
    <div class="panel panel-primary">
        <h2>Users</h2>
        <div class="panel-body">
            <div class="btn-group">
                <a id="createEditUserModal" data-toggle="modal" asp-action="AddUser" data-target="#modal-action-user" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>  Add User
                </a>
            </div>
            <div class="top-buffer"></div>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>
                                <a id="editUserModal"
                                   data-toggle="modal"
                                   asp-action="EditUser"
                                   asp-route-id="@item.Id"
                                   data-target="#modal-action-user"
                                   class="btn btn-info">
                                    Edit
                                </a>
                                <a id="deleteUserModal"
                                   data-toggle="modal"
                                   asp-action="DeleteUser"
                                   asp-route-id="@item.Id"
                                   data-target="#modal-action-user"
                                   class="btn btn-danger">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div role="dialog" tabindex="-1" id="modal-action-user" class="modal">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/user-index.js" asp-append-version="true"></script>
}